* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inika", serif;
    font-weight: 700;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;

    align-content: center;
    height: 100vh;

    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color:burlywood ;
}

